:root {
    font-size: 10px;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

#search-form {
    grid-area: search-form;
}

#accomodation {
    grid-area: accomodation;
}

#populary {
    grid-area: populary;
}

#activities {
    grid-area: activities;
}

#footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-areas:
        "navbar"
        "search-form"
        "populary"
        "accomodation"
        "activities"
        "footer";
}

#seulement {
    display: block;
    display: inline;
    display: inline-block;
    display: flex;
    display: grid;
    grid-template-areas: "";
    position: absolute;
    position: relative;
}

#navbar ul {
    display: grid;
    grid-template-areas:
        "logo register"
        "accomodation activities";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
}

#populary li {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#populary figure {
    display: flex;
    gap: 10%;
    text-align: start;
}

#populary figure img {
    width: 300px;
    margin: 15px;
    padding: 15px;
}

#populary h3 {
    margin: 15px;
    padding: 15px;
}

#populary figcaption {
}

#accomodation {
    grid-area: accomodation;
}

#activities {
    grid-area: activities;
}

#footer {
    grid-area: footer;
}
