:root {
    font-size: 10px;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

#search-form {
    grid-area: search-form;
}

#accomodation {
    grid-area: accomodation;
}

#populary {
    grid-area: populary;
}

#activities {
    grid-area: activities;
}

#footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-areas:
        "navbar"
        "search-form"
        "populary"
        "accomodation"
        "activities"
        "footer";
}

#seulement {
    display: block;
    display: inline;
    display: inline-block;
    display: flex;
    display: grid;
    grid-template-areas: "";
    position: absolute;
    position: relative;
}

#navbar ul {
    display: grid;
    grid-template-areas:
        "logo register"
        "accomodation activities";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
}
#logo {
    grid-area: logo;
}

#register {
    grid-area: register;
}

#accomodation {
    grid-area: accomodation;
}

#activities {
    grid-area: activities;
}

#seach-form {
    grid-area: search-form;
}

#populary {
    grid-area: populary;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1fr;
}

figcaption {
}

#accomodation {
    grid-area: accomodation;
}

#activities {
    grid-area: activities;
}

#footer {
    grid-area: footer;
}
